.bookSelection__cover {
    width: 100px;
}

.bookSelection__row--accent {
background-color: #def;
}
.bookSelection__data-cel {
    padding: 1em;
    vertical-align: top;
}
.bookSelection__data-cel:nth-child(3) {
    padding: 0em;
}

/* layout of the sections */
.bookSelection {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.bookSelection__price {
    font-size: 2em;
}
